[Desktop Entry]
Type=Application
Name=Matrix
Icon=/usr/share/icons/hicolor/80x80/apps/qtquick3d.png
Exec=/usr/bin/invoker --type=e -s /usr/bin/matrix_animation -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_matrix_animation
