Source: quick3d
Section: user/other
Priority: optional
Maintainer: Sarah Smith <sarah.j.smith@nokia.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://doc.qt.nokia.com/qt-quick3d-snapshot/

Package: quick3d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 Qt Quick 3D lets you use QML to write 3D (OpenGL) apps.
XSBC-Maemo-Display-Name: quick3d
