#!/usr/bin/make -f
# -*- makefile -*-

# This rules file is for new Nokia devices using maemo6/meego.
# For fremantle / N900 see the file devices/maemo5/debian/rules.
# For ubuntu desktop see the file devices/ubuntu/debian/rules.

# To build using this rules file, the Madde environment is needed.  This ships
# (for example) with the QtSDK.
#
# This file ships ready to use with Qt Creator.  To use it from the command line
# uncomment the lines below which say # Uncomment for use without Qt Creator
# and then follow these steps:
#
# ### Step 1: set up the build directory - DO NOT CD INTO IT YET!
# mkdir -p ~/build/harmattan/pkg
# cd ~/build/harmattan
#
# ### Step 2: set up to use the Madde build environment - eg if Madde is in your home under QtSDK:
# export MADDE=$HOME/QtSDK/Madde
#
# **** check that this directory contains the version of qmake & tools for your SDK:
# export TARGET_API=$MADDE/targets/harmattan_10.2011.34-1_rt1.2/bin
# export PATH=$TARGET_API:$MADDE/bin:$MADDE/madlib:$MADDE/madbin:$PATH
# export PERL5LIB=$MADDE/madlib/perl5
#
# **** check that this directory contains a sysroot for your N9 in your SDK
# export SYSROOT_DIR=$MADDE/sysroots/harmattan-meego-arm-sysroot-1122-slim
#
# ### Step 3: copy all the stuff across - cannot shadow build (probably don't want git)
# (cd ~/source/qt/qt3d && tar cf - --exclude-vcs .)|(cd pkg && tar xf -)
# cd pkg
# cp -f -v qtc_packaging/debian_harmattan/* debian/.
#
# ### Step 4: actually do the build, using lots of cores if available
# export DEB_BUILD_OPTIONS="parallel=4"
# dpkg-buildpackage -b
#
#
# This rules file should use the control and *.install files (driven by the dh_install cmd below)
# to actually build 3 seperate debian packages:
#    libqt4-3d  -- Qt3D "run time" with C++ libs and QML imports
#    libqt4-3d-dev  -- Qt3D development files - eg headers and .prf files
#    libqt4-3d-examples  -- installed Qt3D examples incl desktop files to run on device


# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Find out how many parallel threads to run
TMP_BUILD_OPTS = $(subst $(comma),$(space),$(DEB_BUILD_OPTIONS))
ifneq (,$(filter parallel=%,$(TMP_BUILD_OPTS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(TMP_BUILD_OPTS)))
	PARALLEL_MAKEFLAGS += -j$(NUMJOBS)
endif

DEB_MAKE_INVOKE := $(MAKE) $(PARALLEL_MAKEFLAGS)

configure: configure-stamp
configure-stamp:
	dh_testdir
    # qmake -spec linux-g++-maemo qt3d.pro CONFIG+=qtc_harmattan # Uncomment this line for use without Qt Creator
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp  
	dh_testdir

	# Add here commands to compile the package.
    # $(DEB_MAKE_INVOKE) # Uncomment this line for use without Qt Creator
        #docbook-to-man debian/qt3d.sgml > qt3d.1

	touch $@

clean: configure-stamp
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	$(MAKE) INSTALL_ROOT="$(CURDIR)"/debian/tmp install


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/tmp
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
