[Desktop Entry]
Type=Application
Name=Basket
Icon=icon-l-qt3d
Exec=/usr/bin/basket -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_basket
X-MeeGo-Translation-Catalog=essentials
