[Desktop Entry]
Type=Application
Name=Tea Service
Icon=icon-l-qtquick3d
Exec=/usr/bin/tea_service -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_tea_service
X-MeeGo-Translation-Catalog=essentials
