[Desktop Entry]
Type=Application
Name=tst_qrc
Icon=icon-l-qtquick3d
Exec=/usr/bin/tst_qrc -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_tst_qrc_qml
