[Desktop Entry]
Type=Application
Name=shapes
Icon=icon-l-qt3d
Exec=/usr/bin/shapes -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_shapes
X-MeeGo-Translation-Catalog=essentials
