[Desktop Entry]
Type=Application
Name=tst_scaling
Icon=icon-l-qtquick3d
Exec=/usr/bin/tst_scaling -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_tst_scaling_qml
X-MeeGo-Translation-Catalog=essentials
