[Desktop Entry]
Type=Application
Name=tst_rotation
Icon=/usr/share/icons/hicolor/80x80/apps/quick3d.png
Exec=/usr/bin/invoker --type=e -s /usr/bin/tst_rotation -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_tst_rotation_qml
