[Desktop Entry]
Type=Application
Name=Moon
Icon=icon-l-qtquick3d
Exec=/usr/bin/moon -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_moon
X-MeeGo-Translation-Catalog=essentials
