Source: libqt4-3d
Section: libdevel
Priority: extra
Maintainer: Sarah Smith <sarah.j.smith@nokia.com>
Build-Depends: debhelper (>= 7), libqt4-dev (>= 4.7.2~git20110208-0maemo1+0m6), cdbs (>= 0.4.87+maemo2+0m6)
Standards-Version: 3.8.4

Package: libqt4-3d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 3D module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The Qt3d module contains functionality for 3D scenes and UIs.

Package: libqt4-3d-examples
Architecture: any
Depends: libqt4-3d (= ${binary:Version})
Description: Qt 4 3d module examples
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains examples and demos for the Qt3d module

Package: libqt4-3d-dev
Architecture: any
Depends: libqt4-3d (= ${binary:Version})
Description: Qt 4 3d module development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the development headers for the Qt3d module
