[Desktop Entry]
Type=Application
Name=Tank
Icon=/usr/share/icons/hicolor/80x80/apps/qt3d.png
Exec=/usr/bin/invoker --type=e -s /usr/bin/invoker --type=d -s /usr/bin/tank -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_tank
