[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Monkeygod
Comment=Qt3D example application
Exec=/usr/bin/monkeygod -fullscreen
Icon=icon-l-qtquick3d
Terminal=false
Type=Application
Categories=Development;
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Text-Domain=qt3d

