[Desktop Entry]
Type=Application
Name=monkeygod
Icon=icon-l-qtquick3d
Exec=/usr/bin/monkeygod -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_monkeygod
