[Desktop Entry]
Type=Application
Name=Tea Service
Icon=icon-l-qt3d
Exec=/usr/bin/teaservice -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_teaservice
X-MeeGo-Translation-Catalog=essentials
