[Desktop Entry]
Type=Application
Name=tst_transformations
Icon=/usr/share/icons/hicolor/80x80/apps/qtquick3d.png
Exec=/usr/bin/invoker --type=e -s /usr/bin/tst_transformations -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_tst_transformations_qml
