[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=tst_lighting
Comment=Qt3D test application for single lighting
Exec=/usr/bin/tst_lighting -fullscreen
Icon=icon-l-qtquick3d
Terminal=false
Type=Application
Categories=Development;
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Text-Domain=qt3d

