[Desktop Entry]
Type=Application
Name=tst_lighting
Icon=icon-l-qtquick3d
Exec=/usr/bin/tst_lighting -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_tst_lighting_qml
X-MeeGo-Translation-Catalog=essentials
