[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=colliding3dmice
Comment=colliding3dmice
Exec=/opt/desktop/scripts/run-qt.sh /opt/qt3d/bin/colliding3dmice -fullscreen
Icon=teapot-logo
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-HildonDesk-ShowInToolbar=true
