[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=nesting
Comment=nesting
Exec=/opt/desktop/scripts/run-qt.sh /opt/qt3d/bin/nesting -fullscreen
Icon=teapot-logo
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-HildonDesk-ShowInToolbar=true
