[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=pageflip
Comment=pageflip
Exec=/opt/desktop/scripts/run-qt.sh /opt/qt3d/bin/pageflip -fullscreen
Icon=teapot-logo
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-HildonDesk-ShowInToolbar=true
