[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=stereo
Comment=stereo
Exec=/opt/desktop/scripts/run-qt.sh /opt/qt3d/bin/stereo -fullscreen
Icon=teapot-logo
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-HildonDesk-ShowInToolbar=true
