[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=teapot
Comment=teapot
Exec=/opt/desktop/scripts/run-qt.sh /opt/qt3d/bin/teapot -fullscreen
Icon=teapot-logo
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-HildonDesk-ShowInToolbar=true
