[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=teaservice
Comment=teaservice
Exec=/opt/desktop/scripts/run-qt.sh qmlviewer -opengl opt/desktop/declarative/teaservice/teaservice.qml
Icon=qml3d-logo
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-HildonDesk-ShowInToolbar=true
