[Desktop Entry]
Type=Application
Name=CubeHouse
Icon=icon-l-qt3d
Exec=/usr/bin/cubehouse -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_cubehouse
