[Desktop Entry]
Type=Application
Name=Animations
Icon=/usr/share/icons/hicolor/80x80/apps/quick3d.png
Exec=/usr/bin/invoker --type=e -s /usr/bin/animations_qml -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_animations_qml
