[Desktop Entry]
Type=Application
Name=PhotoRoom
Icon=icon-l-qtquick3d
Exec=/usr/bin/photoroom -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_photoroom
