[Desktop Entry]
Type=Application
Name=Model Tweaker
Icon=icon-l-qtquick3d
Exec=/usr/bin/modeltweak -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_modeltweak
