[Desktop Entry]
Type=Application
Name=Teapot Bounce
Icon=icon-l-qtquick3d
Exec=/usr/bin/teapot_bounce_qml -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_teapot_bounce_qml
