[Desktop Entry]
Type=Application
Name=Builder
Icon=/usr/share/icons/hicolor/80x80/apps/qt3d.png
Exec=/usr/bin/invoker --type=e -s /usr/bin/builder -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_builder
