[Desktop Entry]
Type=Application
Name=Cube
Icon=icon-l-qtquick3d
Exec=/usr/bin/solarsystem_qml -fullscreen
OnlyShowIn=X-MeeGo;
X-MeeGo-Logical-Id=qtn_comm_appname_solarsystem_qml
